<!--The content below is only a placeholder and can be replaced.-->
<div style="margin-left: 430px;">
  <h1>
    <b>Number of contacts added this week</b>
  </h1>
</div>

<h3 style="margin-left: 430px;margin-bottom:50px;color: gray;">{{showLegend}}</h3>
<p style="text-align: center;font-size:30px;">{{contact_nums}} contacts added</p>

  <ngx-charts-line-chart
    [view] = "lineChartView"
    [legend]="showLegend"
    [legendTitle] = "legendTitle"
    [scheme]="lineChartColorScheme" 
    [results]="lineChartMulti" 
    [gradient]="lineChartGradient" 
    [xAxis]="lineChartShowXAxis" 
    [yAxis]="lineChartShowYAxis" 
    [showXAxisLabel]="lineChartShowXAxisLabel" 
    [showYAxisLabel]="lineChartShowYAxisLabel" 
    [xAxisLabel]="lineChartXAxisLabel" 
    [yAxisLabel]="lineChartYAxisLabel" 
    [autoScale]="lineChartAutoScale" 
    [curve]="lineChartLineInterpolation" 
    [xAxisTickFormatting]="dateTickFormatting"
    [yAxisTicks] = "yAxisTicks"
    [xAxisTicks] = "xAxisTicks"
    (select)="onSelect($event)"
    (mousemove)="onActivate($event)"
  > 
  
  <ng-template #tooltipTemplate let-model="model">
    <h2>{{model.value}}</h2>
  </ng-template>
 
  </ngx-charts-line-chart>

<router-outlet></router-outlet>
